- @pics.each do |pic|
<<<<<<< HEAD
  = link_to (image_tag pic.image.url(:medium)), pic
  %h2= link_to pic.title, pic
=======
  %h2= link_to pic.title, pic





  = link_to "Gramit", new_pic_path
>>>>>>> origin/styling
